.btn-soft-success {
    background-color: green; 
    height: 40px; width: 50px;
    box-shadow: 5px 8px 8px green;
}

.btn-soft-danger {
    background-color:red; 
    height: 40px; width: 50px;
    box-shadow: 5px 8px 8px red;
}